.SearchBc{
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}
.SearchBc .selectData input{
  background-color: aliceblue;
  height: 25px;
  text-align: center;
  margin-top: 5px;
  width: 100%;
}

.contentSearch{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.contentSearch >div{
  width: 100%;
  display: flex;
}
.contentSearch input{
  height: 35px;
  min-width: 100px;
  border-radius: 5px;
  border: 1px solid #4A4A4A;
  padding-left: 5px;
  margin-right: 5px;
}
.contentSearch .cleanBt{
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentSearch .submtBt{
  width: 100%;
  max-width: 100px;
  margin-left: 5px;
  height: 35px;
  min-width: 100px;
}

.SearchBc .SearchBcResult{
  margin-top: 3px;
  background-color: ghostwhite;
  color: #DC3545;
  font-weight: bolder;
  text-align: center;
  position: relative;
}


.SearchBc .SearchBcResult ul{
  z-index: 10;
  top: 0;
  position: absolute;
  background-color: #f5f5f5;
  width: 100%;
  list-style: none;
  cursor: pointer;
}
.SearchBc .SearchBcResult li{
  height: 25px;
  border: 1px solid #4A4A4A;
}

.SearchBc .SearchBcResult li:nth-child(even){
  background-color: #ddd;
}
.SearchBc .SearchBcResult li:hover{
  background-color: #c6c6c6;
}
