.ImagesLayout{
  display: flex;
  flex-grow: 1;
  max-width: 450px;
  margin-right: 15px;
  height: 280px;
  position: relative;
  justify-content: space-between;
}
.ImageLayoutSideL{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 175px;
  justify-content: space-between;
  transition:  all 300ms ease-in;
}
.ImageLayoutSideL.open{
  max-width: 250px;
  border-right: 1px solid #5f5f5f;
}
.ImageLayoutSideL.closed{
  max-width: 30px;
  border-right: none;
}

.toggleImageList{
  display: none;
  background-color: transparent;
  border: none;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 50%;
  left: 5px;
  cursor: pointer;
  z-index: 90;
}
.toggleImageList svg{
  width: 100%;
  height: 100%;
  color: #f5f5f5;
  z-index: 100;
}
.toggleImageList:hover svg{
  filter: brightness(0.8);
  transform: rotate(180deg);
}
.CurrentImage{
  width: 50%;
  min-width: 200px;
  height: 100%;
}
.CurrentImage img{
  width: 100%;
  height: 100%;
  object-fit: cover; /* cover mantém proporção e preenche (corta se necessário) */
  object-position: center; /* opcional: ajuste do corte (center, top, etc.) */
}

.PhotoVideoICN{
  background-color: #4a4a4a9f;
  border-radius: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PhotoVideoICN svg{
  color: #f5f5f5;
  width: 25%;
  height: 25%;
}
.ImageSelection{
  cursor: pointer;
  width: 100%;
  padding: 0 5px;
  margin: 0 auto;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ImageSelection label{
  cursor: pointer;
  height: 25px;
  width: 45px;
  border-radius: 5px;
  display: flex;
  font-size: 12pt;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease;
}
.ImageSelection label svg{
  width: 15px;
  height: 15px;
}
.ImageSelection .Add{
  background-color: #198754;
  color: #f5f5f5;
}
.ImageSelection .Clear{
  background-color: #5f5f5f;
  color: #f5f5f5;
}
.ImageSelection .Clear:hover{
  background-color: #DC3545;
}
.ImageSelection label:hover{
  filter: brightness(0.9);
}

.ImageSelection .Add:hover{
  background-color: #2e74c4;
}

.hidden{
  display: none;
  opacity: 0;
}

/*Estilização da lista de imagens*/
.ImageList{
  width: 100%;
  padding: 0 5px;
}

.ImageList ul{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  max-height: 240px;
  padding: 5px;
  width: 100%;
}
.ImageList li {
  height: 45px;
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 300ms ease;
}
.ImageList li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.ImageList svg{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12pt;
  background-color: #ffff ;
  color: #5f5f5f;
}
.ImageList svg:hover{
  transform: scale(1.2);
  filter: brightness(0.8);
  cursor: pointer;
  color: #DC3545;
}
.ImageList li:hover{
  transform: scale(1.05);
}
.DarkList{
  background-color: #4a4a4a9f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.DarkList svg{
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  background-color: transparent;
  color: #f5f5f5;
  position: inherit;
}

@media  screen and (max-width:642px) {
  .ImagesLayout{
    min-width: 100%;
    padding: 10px;
  }
  .ImageLayoutSideL{
    background-color: #4a4a4a7c;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 250px;
    transition: all 300ms ease;
    padding: 5px;
  }
  .CurrentImage{
    width: 100%;
    min-width: 100%;
  }
  .toggleImageList{
    display: block;
  }
}
