.prod_rigth_fields{
  width: 49%;
  background-color: aliceblue;
}

.attributes_create{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px;
}

.attributes_pricing{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2px;
}
.attributes_pricing input {
  max-width: 120px;
  margin: 2px 0;
}
