.prod_left_fields {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.bottom_left_fields{
  width: 100%;
  height: 100%;
  min-height: 200px;
  display: flex;
  margin-top:10px; 
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.content_textArea {
  width: 95%;
  text-align: end;
  position: relative;
  margin-top: 10px;
}
.content_textArea label {
  color: #363636;
  position: absolute;
  right: 0;
  top: -14px;
}

.content_textArea textarea {
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 200px;
  padding: 8px;
  resize: none; 
  background-color: #F6F6F6;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 1px solid transparent;
}
.content_textArea textarea:hover{
  outline: 1px solid #4A90E2;
}
.w50{
  width: 45%;
}
.fd-group{
  position: relative;
  margin: 15px 0;
  min-width: 120px;
}
.fd-group label{
  position: absolute;
  top: -18px;
  right:  0;
}
.fd-group input {
  width: 100%;
  border: 1px solid #dddd;
  outline: 1px solid transparent;
  border-radius: 5px;
  height: 25px;
  padding-left: 5px;
  background-color: #F6F6F6;
  transition: all 200ms;
}
.fd-group input:hover {
  outline: 1px solid #4A90E2;
}
.fd-group select{
  min-width: 120px ;
  height: 25px;
  padding-left: 5px;
  border-radius: 5px;
  border: solid 1px #dddd;
  transform: all 200ms;
}
.fd-group select:hover{
  border-color: #4A90E2;
}

@media screen and (min-width: 1200px) {
  .prod_left_fields{
    max-width: 49%;
  }
}
@media  screen and (max-width: 768px) {
  .prod_left_fields{
    width: 100% ;
    margin: 5px 0;

  }
  .bottom_left_fields{
    flex-wrap: wrap;
    align-items: center;
  }
  .bottom_left_fields input{
    width: 100%;
  }
  .w50{
    width: 100%;
  }
}