.ProdCreateDescription{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.bottom-content_pc{
  width: 100%;
  height: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  padding: 5px;
  margin-top: 25px;
  justify-items: flex-end;
}

.bottom-content_pc div{
  background-color: aliceblue;
  width: 100%;
  height: 40px;
  margin: 10px 0;
  position: relative;
}
.bottom-content_pc label{
  position: absolute;
  top: -15px;
  opacity: 70%;
  left: 5px;
}

.bottom-content_pc input, .bottom-content_pc select{
  background-color: #fff;
  height: 35px;
  width:100%;
  border-radius: 5px;
  padding-left: 5px;
  border-color:#cccc;
}
.bottom-content_pc input:focus, .bottom-content_pc select:focus{
  outline: none;
  border-color:#4a4a4a9f;
}

.bottom-content_pc select{
  height: 35px;
  width: 100%;
  border-radius: 5px;
  padding-left: 5px;
  cursor: pointer;
}

.ProdCreateDescription .txt-area{
  width: 100%;
}
.ProdCreateDescription .txt-area label{
  position: absolute;
  top: -15px;
  left: 5px;
  opacity: 70%;
}
.ProdCreateDescription .txt-area textarea{
  width: 100%;
  min-height: 200px;
  resize: vertical;
  border-radius: 5px;
  padding: 5px;
  border-color: #cccc;
}
.txt-area textarea:focus{
  outline: none;
  border-color:#4a4a4a9f;
}

@media screen and (max-width: 768px) {
  .bottom-content_pc{
    grid-template-columns: 1fr;
  }
  .bottom-content_pc{
    width: 100%;
  }
}
