.SearchBar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.FieldsContainer{
  border: 1px solid #ccc;
  padding: 15px 5px;
  border-radius: 5px;
  margin: 5px;
  max-width: 600px; width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.FieldsContainer button{
  border: none;
  background-color: #0056B3;
  cursor: pointer;
  color: #fff;
  width: 25px;
  border-radius: 5px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}
.FieldsContainer button svg{
  width: 20px;
  height: 20px;
}
.FieldsContainer button:hover{
  background-color: #0057b3c2;
}

.FieldsContainer input{
  border: none;
  outline: none;
  height: 25px;
  max-width: 250px;
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 16px;
}
.FieldsContainer >div{
  display: flex;
  align-items: center;
  gap: 2px;
}
.FieldsContainer select{
  min-width: 120px;
  margin: 5px 0;
  text-align: center;
  height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}