@keyframes moveTexture {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container-auth {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3d77b1; 
}

.container-auth::before {
  content: "";
  position: absolute;
  inset: 0;
  background: 
    radial-gradient(circle at 20% 20%, rgb(156, 83, 0), transparent 70%),
    radial-gradient(circle at 80% 80%, rgba(68, 0, 253, 0.74), transparent 70%),
    linear-gradient(125deg, #ffffff, #5c5c5c, #383838, #030303);
  background-size: 200% 200%;
  animation: moveTexture 15s ease-in-out infinite;
  z-index: 0;
  filter: blur(4px); 
}

.section-auth {
  position: relative;
  z-index: 1;
  background-color: rgba(177, 164, 164, 0.479);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.content-auth{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 800px; height: 100%;
  max-width:  800px ; width: 100%;
}

.label-auth{
  max-height: 100px; height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label-auth span{
  font-size: 20pt;
  font-weight: 600;
  color: #333;
}

.content-auth form{
  max-height: 600px; height: 100%;
  max-width: 600px; width: 100%;
  background-color: #ffffff34;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.content-auth form div{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.content-auth form div label{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14pt;
  font-weight: 600;
  color: #333;
}
.content-auth form div input{
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #ccc;
  outline: none;
  padding: 0 10px;
}
.content-auth form div input:focus, .content-auth select:focus{
  border: 2px solid darkblue;
}

.content-auth select{
  width: 100%;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.content-errros{
  max-height: 50px; height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkred;
}

.suggestions{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.suggestions div{
  width: 100%;
  display: flex;
  justify-content: end;
}
.suggestions div label{
  font-size: 12pt !important;
  height: 15px;
  cursor: pointer;
}
#keeplogin{
  margin: auto 0;
  height: 15px;
  width: 15px;
}

.singup{
  max-width: 200px;
  height: 25px;
  margin: 0 auto;
  cursor: pointer;
  background-color: #508ac4;
  border: none !important;
  color: #ccc;
  outline: none;
}
.singup:hover{
  background-color: #3d77b1;
  color: #f5f5f5;
}

.submit-auth{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-auth button {
  background-color: #ec9f46;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 12pt;
  color: #f6f6f6;
  max-height: 35px; height: 100%;
  max-width: 300px; width: 100%;
}
.section-auth button:hover{
  background-color: #e79b28;
  cursor: pointer;
}
