.pContainer{
  background-color: #00000098;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}
.cartQuery{
  position: absolute;
  background-color: #ffff;
  border: 1px solid black;
  left: 30%;
  top: 30%;
  min-width: 300px;
  min-height: 220px;
  z-index: 100;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.body-cartQuery{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 140px;
  margin: 5px 0 ;
  padding: 10px;
  background-color: #dddd;
}
.body-cartQuery input {
  background-color: #ffff;
  border: none;
  outline: none;
  height: 25px;
  border-radius: 5px;
  padding-left: 5px;
}
.button-container-cq{
  width: 100%;
  text-align: end;
}