.paginate{
  width: 100%;
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.paginate_btn{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 15%;
}
.paginate_btn button{
  border: none;
  outline: none;
  background-color: #4A90E2;
  padding: 5px 15px;
  margin-left: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 200ms;
}
.paginate_btn button:hover{
  background-color: #007BFF;
}