.contentTable {
  width: 100%;
  flex-grow: 1;
  height: 500px;
  overflow-y: auto;
}
.contentTable table{
  width: 100%;
}

.contentTable thead{
  background-color: #ccc;
}

.contentTable thead tr{
   height: 35px;
   background-color: #4A90E2;
   color: #f5f5f5;
}

.contentTable tbody tr{
  text-align: center;
  cursor: pointer;
  transition: all 200ms ease-in;
  color: #4A4A4A;
  height: 25px;
}
.contentTable tbody td{
  max-width: 120px;
  padding: 5px 0;
}
.contentTable tbody tr:nth-child(odd){
  background-color: #ddd;
}
.contentTable tbody tr:hover{
  background-color: #0056B3;
  color: #ddd;
}

.tablePagination{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tablePagination .lengthListBtn{
  position: absolute;
  right: 10px;
}
.lengthListBtn select{
  height: 25px;
  width: 55px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #0056B3;
  color: #ffff;
  text-align: center;
  cursor: pointer;
}
.lengthListBtn section:hover{
  background-color: #0057b3d3;
}

.wrapperBtns button{
  border: none;
  outline: none;
  margin: 5px;
  height: 25px;
  width: 75px;
  background-color: #0056B3;
  color: #ffff;
  border-radius: 5px;
  cursor: pointer;
}
.wrapperBtns button:hover{
  background-color: #0057b3d3;
}