.wrapper_prod_thumbnails{
  max-width: 45%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.thumbnail_view{
  position: relative;
  border: 1px solid #dddd;
  display: flex;
  flex-direction: column;
}
.thumbnail_view span{
  position: absolute;
  top: -20px;
  right: 0;
}
.thumbnail_mg{
  width: 215px;height: 275px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
}.thumbnail_mg img{
  height: 100%;
  max-width: 100%;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.wrapper_thumbnails_list{
  position: relative;
  width: 200px;
  border: 1px solid #ddd;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.title_thumbnai_list{
  position: absolute;
  top: -20px;
  right: 0;
}
.heigth_modify-100{
  height: 120px;
  max-height: 125px;
}
.thumbnail_list{
  margin-bottom: 10px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.thumbnail_list span{
  font-weight: 600;
  font-size: 14pt;
}
.thumbnail_list ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.thumbnail_list ul li{
  padding: 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_thumbnail_feature{
  height: 50px; width: 50px;
  border: 1px solid #dddd;
  margin: 2px;
  position: relative;
  cursor: pointer;
}
.content_thumbnail_feature:hover{
  transform: scale(1.02);
  border-color: #0056B3;
}
.content_thumbnail_feature button{
  position: absolute;
  top: -5px;
  right: -5px;
  display: block;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14pt;
  cursor: pointer;
  color: #222222;
}
.content_thumbnail_feature button:hover{
  color: #DC3545;
}
.content_thumbnail_feature img {
  width: 100%;
  height: 100%;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.select_thumbnails{
  background-color: #ffff;
  border-radius: 5px;
  padding: 0 10px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.hideElement{
  display: none;
}
.bt_add_thumbnail{
  height: 25px;
  width: 120px;
  border-radius: 5px;
  border: none;
  background-color: #4A90E2;
  color: #f5f5f5;
  cursor: pointer;
  transition: all 200ms;
  position: relative;
}
.bt_add_thumbnail label{
  cursor: pointer;
  position: absolute;
  height: 25px;
  width: 120px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bt_add_thumbnail:hover{
  background-color: #0056B3;
}

@media screen and (max-width:1200px) {
  .wrapper_prod_thumbnails{
    flex-wrap: wrap;
  }
  .thumbnail_view{
    position: relative;
  }
  .thumbnail_view span{
    position: absolute;
    top: 0;
  }
  .wrapper_thumbnails_list{
    width: 100%;
    margin: 5px;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    position: relative;
  }
  .thumbnail_list{
    min-width: 120px;
  }
  .select_thumbnails{
    height: 100px;
    text-align: center;
  }
}
@media screen and (max-width:880px ) {
  .select_thumbnails span{
    display: none;
  }
  .select_thumbnails button {
    position: absolute;
    bottom: -5px;
    right: 0;
  }
}

@media screen and (max-width:580px ) {

  .wrapper_prod_thumbnails{
    max-width: none;
  }
  .wrapper_thumbnails_list{
    border-color: transparent;
    border-top-color: #dddd;
    margin: 15px 0;
  }
  .thumbnail_list ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    padding: 10px;
  }
  
}