.container-fluid{
  background-color: #fff;
  height: 100%; width: 100%;
  min-height: max-content;
  display: flex;
  flex-direction: column;
}
.content-top-module{
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: max-content;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.content-bottom-module{
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 5px;
}