.container-fluid{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content-top-module{
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: max-content;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.content-bottom-module{
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  padding: 15px 10px;
}
.prod_rigth_fields{
  flex-grow: 1;
  min-height: 400px;
}

.attributes_create{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 1;
  padding: 5px;
}
.attributes_pricing{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2px;
}

.attributes_pricing input {
  max-width: 120px;
  margin: 2px 0;
}
.rightContent, .leftContent{
  margin: 10px 0;
  padding: 5px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
}

.rightContent{
  min-height: 300px;
  max-width: 49%;
  margin-right: 5px;
  flex-grow: 1;
}
.leftContent{
  max-width: 49%;
  min-height: 300px;
}

.image-caption{
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  background-color: #000000a1;
  color: #f5f5f5;
  padding: 5px;
  font-size: 12pt;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .leftContent,.rightContent{
    min-width: 100%;
  }

  .attributes_create{
    justify-content: space-evenly;
    align-items: center;
  }
}
