

.FBResponse{
  position: absolute;
  top: 20px;
  right:  20px;
  background-color: #fff;
  border: #4A4A4A solid 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14pt;
  color: #4A4A4A;
  min-height: 100px;
  min-width: max-content;
  padding: 10px 50px;
  z-index: 100;
}